.topHeader {
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.message {
  margin: 0;
  text-align: center;
  flex: 1;
}

.shopNow {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.languageSelect {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}